.mat-card-header {
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.mat-card{
    margin-right: 30px;
}

.Lema {
  font-family: Pristina;
  color: gold;
  font-size: larger;
}

.mat-card-content{
    width: 100%;
}
