<div class="Title" align="center">
  <h2>Acerca de Nosotros</h2>
</div>
<mat-grid-list cols="2" rowHeight="70px" guttersize="10px">
  <mat-grid-tile rowspan="8">
    <mat-card id="card">
      <mat-card-header>
          <mat-card-title>
            Visión
          </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p align="center">
          <img mat-card-image src="https://1.bp.blogspot.com/-aq6hv4DzDN0/XLIMuUf8-8I/AAAAAAAA-Ac/HV0efMh9LZUIFZHYdnKVpr-1gLLB2e42wCLcBGAs/s1600/vision-leadership.jpg" />
        <p align="center">
          En nuestra amada ciudad existen muchos otros hoteles, cada uno con sus cosas positivas y negativas, nosotros no queremos ser considerados del Montón
          Nosotros quéremos ser uno de los mejores Hoteles de Marsella, no solo en cuanto a infraestructura sino también al proporcionar el mejor servicio a las personas
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile rowspan="8">
    <mat-card id="card">
      <mat-card-header>
        <mat-card-title>
          Objetivo
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p align="center">
          <img mat-card-image src="assets/About-Images/proposito.jpg" />
          Como bien dice nuestro Lema:
        </p>   
        <div align="center">
          
          <div class="Lema">
            Llega a Marsella a liberar tus tensiones con comodidad
          </div>
          Nuestro objetivo es llegar a ser uno de los Hoteles más reconocidos en el mundo, no solamente de Marsella
          Para ello trabajaremos muy duro para darle a nuestros húespedes una experiencia satisfactoria y completa.
          </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
