.Le-Input{
    margin-bottom: 20px;
    width: 100%;
}

.LeOptions {
  margin-bottom: 40px;
  width: 100%;
}

.Le-TextArea{
    width: 100%;
}

.botoncito{
    width: 100%;
    background-color: forestgreen;
}
